<html lang="es" xmlns:th=http://www.thymeleaf.org
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <header th:fragment="header">
	<nav class="navbar navbar-expand-md bg-dark navbar-dark custom-nav">
		
		<div class="collapse navbar-collapse custom-nav" id="topNavbar">
			<ul>
				<li  th:classappend="${module == 'home' ? 'active' : ''}" class="nav-item custom-nav">
	        		<a class="nav-link active custom-nav" href="/" th:href="@{/home}">Home</a>
		     	</li>
		     	
				<li sec:authorize="hasAuthority('ROLE_ADMIN')"><a
					class="nav-item custom-nav" th:href="@{/cliente/admin/listUsers}">USUARIOS</a></li>
				<li sec:authorize="hasAuthority('ROLE_ADMIN')"><a
					class="nav-item custom-nav" th:href="@{/cliente/admin/listClientes}">CLIENTES</a></li>
<!-- 				<li sec:authorize="hasAuthority('ROLE_ADMIN')"><a -->
<!-- 					class="nav-item custom-nav" th:href="@{/admin/usuario/listTrata/}">Crud Tratamiento</a></li> -->
				<li sec:authorize="hasAuthority('ROLE_ADMIN')"><a
					class="nav-item custom-nav" th:href="@{/servicio/admin/listServicios}">SERVICIOS</a></li>
				<li sec:authorize="hasAuthority('ROLE_ADMIN')"><a
					class="nav-item custom-nav" th:href="@{/cita/admin/listCitas}">CITAS</a></li>

				
				<li sec:authorize="hasAuthority('ROLE_USER')"><a
					class="nav-item custom-nav" th:href="@{/cita/usuario/miscitas}">Mis citas</a></li>
				<li sec:authorize="hasAuthority('ROLE_USER')"><a
					class="nav-item custom-nav" th:href="@{/cita/usuario/obtener/cita}">Obtener cita</a></li>
				<li sec:authorize="hasAuthority('ROLE_USER')"><a
					class="nav-item custom-nav" th:href="@{/nosotros}">Sobre nosotros </a></li>
<!-- 				<li sec:authorize="hasAuthority('ROLE_USER')"><a -->
<!-- 					class="nav-item custom-nav" th:href="@{/historial/usuario}">Historial</a></li> -->

				
				
				<li style="float: right" sec:authorize="!isAuthenticated()" class="nav-item custom-nav">
		      		<a class="nav-link active custom-nav" th:href="@{/auth/login}"><i class="fas fa-user custom-nav"></i>Log In</a>
		        </li>

				<li sec:authorize="isAuthenticated()" style="float: right" class="nav-item custom-nav">
					<form class="nav-item custom-nav" th:action="@{/auth/logout}" method="post">
						<button style="float: right" class="nav-link active custom-nav" th:href="@{/auth/login}">
						Log Out <i class="fa fa-sign-out"></i></button>
						
					</form>
				</li>
				
				<li style="float: right" sec:authorize="isAuthenticated()" class="nav-item custom-nav" >
					<a class="nav-link custom-nav" th:text="${#authentication.name}"></a>
				
			</ul>
		</div>
	</nav>
</header>
</html>