<html lang="es" xmlns:th=http://www.thymeleaf.org
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<header th:fragment="header">
	<nav class="navbar navbar-expand-md bg-dark navbar-dark">
		
		<div class="collapse navbar-collapse" id="topNavbar">
			<ul>
				<li  th:classappend="${module == 'home' ? 'active' : ''}" class="nav-item">
	        		<a class="nav-link active" href="/" th:href="@{/home}">Home</a>
		     	</li>
		     	
				<li sec:authorize="hasAuthority('ROLE_ADMIN')"><a
					class="nav-item" th:href="@{/cliente/admin/listUsers}">Crud Usuarios</a></li>
				<li sec:authorize="hasAuthority('ROLE_ADMIN')"><a
					class="nav-item" th:href="@{/cliente/admin/listClientes}">Crud Cliente</a></li>
				<li sec:authorize="hasAuthority('ROLE_ADMIN')"><a
					class="nav-item" th:href="@{/admin/usuario/listTrata/}">Crud Tratamiento</a></li>
				<li sec:authorize="hasAuthority('ROLE_ADMIN')"><a
					class="nav-item" th:href="@{/servicio/admin/listServicios}">Crud Servicios</a></li>

				
				<li sec:authorize="hasAuthority('ROLE_USER')"><a
					class="nav-item" th:href="@{/cita/usuario/miscitas}">Mis citas</a></li>
				<li sec:authorize="hasAuthority('ROLE_USER')"><a
					class="nav-item" th:href="@{/cita/usuario/obtener/cita}">Obtener cita</a></li>
				<li sec:authorize="hasAuthority('ROLE_USER')"><a
					class="nav-item" th:href="@{/usuario/historial}">Historial</a></li>

				
				
				<li style="float: right" sec:authorize="!isAuthenticated()" class="nav-item">
		      		<a class="nav-link active" th:href="@{/auth/login}"><i class="fas fa-user"></i>Log In</a>
		        </li>

				<li sec:authorize="isAuthenticated()" style="float: right" class="nav-item">
					<form class="nav-item" th:action="@{/auth/logout}" method="post">
						<button style="float: right" class="nav-link active" th:href="@{/auth/login}">
						Log Out</button>
					</form>
				</li>
				
				<li style="float: right" sec:authorize="isAuthenticated()" class="nav-item" >
					<a class="nav-link" th:text="${#authentication.name}"></a>
				
			</ul>
		</div>
	</nav>
</header>
</html>