<!doctype html>
<!--[if lte IE 9]>
<html lang="en" class="oldie">
<![endif]-->
<!--[if gt IE 9]><!-->
<html lang="en">
<!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>500 Error</title>
  <style>
    body {
      background-color:#44018f;
      text-align: center;
      font-family: verdana;
    }
    figure {
      margin-top: 20vh;
    }
    img {
      max-width: 100%;
      height: auto;
    }
    .nav-link {
      font-size: 300%;
      color: rgb(255, 255, 255);
      text-decoration: none;
    }
    .nav-link:hover {
      text-decoration: underline;
    }
  </style>
</head>
<body>
  <figure>
    <a class="nav-link active" href="/" th:href="@{/}">Return Home</a>
    <br>
    <img th:src="@{/images/Error500.jpeg}" alt="404 Error">

  </figure>
</body>
</html>