ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.page-container {
    width: 800px;
    background-color: whitesmoke;
    border-radius: 1em;
    margin: 1em auto;
}

.cita-btn {
    text-align: center;
    border-radius: 0.3em;
    background-color: rgb(226, 92, 215);
    width: 80px;
    margin: 0 auto;
    margin-top: 0.8em;
    text-decoration: none;
    color: white;
    padding: 0.6em;
    transition: all 0.3s;
}

.cita-btn:hover {
    transform: scale(1.1);
    background-color: rgba(226, 92, 215, 0.8);
    color: white
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: white;
    border-color: rgb(226, 92, 215);
    border-width: 2px;
    color: #111
}

li form button {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li form button:hover {
    background-color: white;
    border-color: rgb(226, 92, 215);
    color: #111
}
li form button {
	 color: #666;
}

li form button {
	display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul {
    position: fixed;
    top: 0;
    width: 100%;
}
ul {
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

li a {
    color: #666;
}


.active {
    color: white;
    background-color: rgb(226, 92, 215);
    border-color: rgb(226, 92, 215);
    border-width: 2px;
    border-radius: 0.2em;
}