<!DOCTYPE html>
	<html xmlns:th=http://www.thymeleaf.org
		xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link th:href="@{/css/styles.css}" rel="stylesheet" />
<link th:href="@{/css/header.css}" rel="stylesheet" />
<link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link rel="stylesheet" href="css/font-awesome.min.css">
<link th:href="@{/css/home.css}" rel="stylesheet" />

<link th:href="@{/css/popup.css}" rel="stylesheet" />
<script src="/scripts/popup-script.js"></script>

<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="icon" type="image/x-icon" href="/images/logoapp.ico">
	<title>Lista de Citas</title>
</head>

<body class="m-0 vh-10 row-10 justify-content-center align-items-center">
	<section layout:fragment="custom-content">
		<div th:replace="fragments/header :: header"></div>
	</section>
	<br>
	<br>
	<br>

	<div class="alert alert-success" th:if="${success != null}" th:text="${success}"></div>
	<div class="alert alert-danger" th:if="${error != null}" th:text="${error}"></div>
	<div class="alert alert-warning" th:if="${warning != null}" th:text="${warning}"></div>
	<div class="alert alert-info" th:if="${info != null}" th:text="${info}"></div>

	<div class="container mt-4">
	   <div class="row">
	    <div class="col-lg-6 offset-lg-3">
	        <form class="form-inline mb-4 d-flex align-items-center">
	            <input class="form-control mr-sm-2 flex-grow-1" type="search" placeholder="Search" aria-label="Search" id="search-input">
	            <button class="btn active custom-nav" type="button" id="search-button">
	                <i class="fa fa-search"></i>
	            </button>
	        </form>
	    </div>
	</div>

    <div th:if="${citas.size() > 0}" class="col-auto p-5 text-center">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">ACTIVA</th>
                        <th scope="col">DIA</th>
                        <th scope="col">HORA</th>
                        <th scope="col">CLIENTE</th>
                        <th scope="col">SERVICIO</th>
                        <th scope="col">ACCIONES</th>
                    </tr>
                </thead>
                <tbody id="citas-table-body" th:each="cita: ${citas}">
                    <tr>
                        <td><a class="text text-success" th:if="${cita.activa == true}"><i class="fa fa-check-square"></i></a>
                            <a class="text text-danger" th:if="${cita.activa == false}"><i class="fa fa-window-close"></i></a>
                        </td>
                        <td scope="row">
            <script>
                var fechaCompleta = '[[${cita.fechaCompleta}]]';
                var fecha = new Date(fechaCompleta);
                var options = {
                    day: '2-digit',
                    month: '2-digit',
                    year: 'numeric'
                };
                var fechaFormateada = fecha.toLocaleDateString('es-ES', options);
                document.write(fechaFormateada);
            </script>
        </td>
        <td scope="row">
            <script>
                var fechaCompleta = '[[${cita.fechaCompleta}]]';
                var fecha = new Date(fechaCompleta);
                var options = {
                    hour: '2-digit',
                    minute: '2-digit'
                };
                var horaFormateada = fecha.toLocaleTimeString('es-ES', options);
                document.write(horaFormateada);
            </script>
        </td>
                        <td scope="row">[[${cita.cliente}]]</td>
                        <td scope="row">[[${cita.servicio.nombre}]]</td>
                        <td>
                        <a href="#" onclick="mostrarPopup('${cita.id}')">
  <button type="button" class="btn btn-danger">Cancelar cita <i class="fa fa-trash"></i></button>
</a>
                            <a th:href="@{/cita/usuario/delete/} + ${cita.id}" onclick="eliminar('${cita.id}', event)">
							  <button type="button" class="btn btn-danger">Cancelar cita <i class="fa fa-trash"></i></button>
							</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <a th:href="@{/admin/generar-pdf}">
        <button class="btn"><i class="fa fa-download"></i> Download Citas hoy</button>
    </a>
</div>


	<!-- Bootstrap JS and dependencies -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"
		integrity="sha384-KtLE+8Z9mVkfZ+Kq3f33Ka1SZC7z5ckM/KFA8Ew4f8BxByGZl/hb2B8pDkz4kz1"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
		integrity="sha384-tAL0s5NNKbNpau+cLlO/q1z5OoRZM2Z6q0J9qelxfD0KgZl/v8TlP8kfN1z8N2R"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
		integrity="sha384-4YZk6z2UQI2e6Ls1Y6ZvQx4C8HhrBDjxkQQ8mlr5Ck8fMI6zZfjB1q5z9v2F9KkN"
		crossorigin="anonymous"></script>
	<script>
		document.getElementById("search-input").addEventListener("input", function() {
			var searchTerm = this.value.toLowerCase();
			var rows = document.querySelectorAll("#citas-table-body tr");

		    rows.forEach(function(row) {
		        var cells = row.getElementsByTagName("td");
		        var showRow = false;
		
		        for (var i = 0; i < cells.length; i++) {
		            var cellValue = cells[i].textContent.toLowerCase();
		            if (cellValue.includes(searchTerm)) {
		                showRow = true;
		                break;
		            }
		        }
		
		        if (showRow) {
		            row.style.display = "";
		        } else {
		            row.style.display = "none";
		        }
		    });
		});
	</script>
	<div class="overlay" id="overlay">
  <div class="popup" id="popup">
    <p>¿Estás seguro de que deseas eliminar?</p>
    <button onclick="eliminar()">Sí</button>
    <button onclick="ocultarPopup()">No</button>
  </div>
</div>

<script>
  var citaIdToDelete; // Variable para almacenar el ID de la cita que se va a eliminar

  function mostrarPopup(citaId) {
    citaIdToDelete = citaId; // Almacenar el ID de la cita
    document.getElementById('overlay').style.display = 'flex';
    document.getElementById('popup').style.display = 'block';
  }

  function ocultarPopup() {
    document.getElementById('overlay').style.display = 'none';
    document.getElementById('popup').style.display = 'none';
  }
  
  function eliminar() {
	    // Redirigir directamente a la URL de eliminación
	    window.location.href = '/cita/usuario/delete/' + citaIdToDelete;
	  }
  
</script>
</body>
</html>
