<!DOCTYPE html>
	<html xmlns:th=http://www.thymeleaf.org
		xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link th:href="@{/css/styles.css}" rel="stylesheet" />
<link th:href="@{/css/header.css}" rel="stylesheet" />
<link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link rel="stylesheet" href="css/font-awesome.min.css">
<link th:href="@{/css/home.css}" rel="stylesheet" />

<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



<title>Lista de Citas</title>
</head>
<body class="m-0 vh-10 row-10 justify-content-center align-items-center">
<br>
<br>
<br>
	<section layout:fragment="custom-content">
		<div th:replace="fragments/header :: header"></div>
	</section>
	 <div class="alert alert-success" th:if="${success != null}"
		th:text="${success}"></div>
	<div class="alert alert-danger" th:if="${error != null}"
		th:text="${error}"></div>
	<div class="alert alert-warning" th:if="${warning != null}"
		th:text="${warning}"></div>
	<div class="alert alert-info" th:if="${info != null}"
		th:text="${info}"></div>
		
<div th:if="${citas.size() > 0}" class="col-auto p-5 text-center">
  <table class="table table-hover table-responsive-xl">
    <thead class="thead-light">
      <tr>
		<th scope="col">ACTIVA</th>
		<th scope="col">FECHA</th>
		<th scope="col">CLIENTE</th>
		<th scope="col">SERVICIO</th>
        <th scope="col">ACCIONES</th>
      </tr>
    </thead>
    <tbody>
      <tbody th:each="cita: ${citas}">
        <td><a class="text text-success" th:if="${cita.activa == true}"><i class="fa fa-check-square"></i></a>
          <a class="text text-danger" th:if="${cita.activa == false}"><i class="fa fa-window-close"></a>
        </td>
        <td scope="row">[[${cita.fechaCompleta}]]</td>
    	<td scope="row">[[${cita.cliente}]]</td>
    	<td scope="row">[[${cita.servicio.nombre}]]</td>
        <td>
			
			<a th:href="@{/cita/usuario/delete/} + ${cita.id}" th:onclick="return confirm('Estas seguro que deseas eliminar el registro?');">
				<button type="button" class="btn btn-danger">Cancelar cita  <i class="fa fa-trash"></i>  </button>
				</a>
        </td>
      </tr>
    </tbody>
  </table>
  
</div>
<!-- Auto width -->
	<a th:href="@{/admin/generar-pdf}">
		<button class="btn"><i class="fa fa-download"></i> Download Citas hoy</button>
	</a>
</body>
</html>