<!DOCTYPE html>
	<html xmlns:th=http://www.thymeleaf.org
		xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link th:href="@{/css/styles.css}" rel="stylesheet" />
<link th:href="@{/css/header.css}" rel="stylesheet" />
<link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link rel="stylesheet" href="css/font-awesome.min.css">
<link th:href="@{/css/home.css}" rel="stylesheet" />

<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<title>Lista de Clientes</title>
</head>
<body class="m-0 vh-10 row-10 justify-content-center align-items-center">
	<section layout:fragment="custom-content">
		<div th:replace="fragments/header :: header"></div>
	</section>
	<br>
	<br>
	<br>
	
	<div class="alert alert-success" th:if="${success != null}"
		th:text="${success}"></div>
	<div class="alert alert-danger" th:if="${error != null}"
		th:text="${error}"></div>
	<div class="alert alert-warning" th:if="${warning != null}"
		th:text="${warning}"></div>
	<div class="alert alert-info" th:if="${info != null}"
		th:text="${info}"></div>

<div th:if="${clientes.size() > 0}" class="col-auto p-5 text-center">
	<table class="table table-hover table-responsive-xl">
    	<thead class="thead-light">
			<tr>
				 <th scope="col">NOMBRE</th>
				 <th scope="col">EMAIL</th>
				 <th scope="col">DIRECCIÓN</th>
				 <th scope="col">TELÉFONO</th>
				 <th scope="col">ACCION</th>
			</tr>
		</thead>
		
		<tbody th:each="cliente: ${clientes}">
			<tr>
				 <td scope="row">[[${cliente.nombre}]]</td>
				 <td scope="row">[[${cliente.email}]]</td>
				 <td scope="row">[[${cliente.direccion}]]</td>
				 <td scope="row">[[${cliente.telefono}]]</td>
				<td>
					<div style="text-align: center; margin: auto;">
						</a> <a th:href="@{/cliente/admin/delete/cliente/} + ${cliente.id}"
							th:onclick="return confirm('Estas seguro que deseas eliminar el registro?');">
							<button type="button" class="btn btn-danger">Borrar <i class="fa fa-trash"></i></button>
						</a>
					</div>
				</td>
			</tr>
	</table>
		<a th:href="@{/cliente/admin/insertCliente}"  >
	         	   <button type="button" class="btn active custom-nav">INSERTAR CLIENTE</button></a>
	</div>

</body>
</html>