<!DOCTYPE html>
	<html xmlns:th=http://www.thymeleaf.org
		xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link th:href="@{/css/styles.css}" rel="stylesheet" />
<link th:href="@{/css/header.css}" rel="stylesheet" />
<link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link rel="stylesheet" href="css/font-awesome.min.css">
<link th:href="@{/css/home.css}" rel="stylesheet" />

<title>Lista de users</title>
</head>
<body>
	<section layout:fragment="custom-content">
		<div th:replace="fragments/header :: header"></div>
	</section>
	<br>
	<br>
		<h1>Usuarios:</h1>
	<br>
	<br>
	 <div class="alert alert-success" th:if="${success != null}"
		th:text="${success}"></div>
	<div class="alert alert-danger" th:if="${error != null}"
		th:text="${error}"></div>
	<div class="alert alert-warning" th:if="${warning != null}"
		th:text="${warning}"></div>
	<div class="alert alert-info" th:if="${info != null}"
		th:text="${info}"></div>
<div th:if="${users.size() > 0}">
  <table class="table table-hover table-responsive-xl">
    <thead class="thead-light">
      <tr>
        <th scope="col">Id</th>
		<th scope="col">USERNAME</th>
		<th scope="col">ROLL</th>
		<th scope="col">ENABLE</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tbody th:each="user: ${users}">
        <th scope="row">[[${user.id}]]</th>
        <td scope="row">[[${user.username}]]</td>
        <td scope="row">[[${user.role}]]</td>
        <td>
        
          <a th:if="${user.enable == true}">ACTIVADO</a>
          <a th:if="${user.enable == false}">DESACTIVADO</a>
        </td>
        <td>
			<a th:href="@{/cliente/admin/activar/user/} + ${user.id}">
				<button type="button" class="btn btn-primary">Activar/Descactivar</button>

			<a th:href="@{/cliente/admin/delete/user/} + ${user.id}">
         	   <button type="button" class="btn btn-danger">Borrar</button></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</body>
</html>