
<!DOCTYPE html>
	<html xmlns:th=http://www.thymeleaf.org
		xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link th:href="@{/css/styles.css}" rel="stylesheet" />
<link th:href="@{/css/header.css}" rel="stylesheet" />
<link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link rel="stylesheet" href="css/font-awesome.min.css">
<link th:href="@{/css/home.css}" rel="stylesheet" />

<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="icon" type="image/x-icon" href="/images/logoapp.ico">

<title>Lista de servicios</title>
</head>
<body class="m-0 vh-10 justify-content-center align-items-center">
	<section layout:fragment="custom-content">
		<div th:replace="fragments/header :: header"></div>
	</section>
	<br>
	<br>
	<br>
	 <div class="alert alert-success" th:if="${success != null}"
		th:text="${success}"></div>
	<div class="alert alert-danger" th:if="${error != null}"
		th:text="${error}"></div>
	<div class="alert alert-warning" th:if="${warning != null}"
		th:text="${warning}"></div>
	<div class="alert alert-info" th:if="${info != null}"
		th:text="${info}"></div>
		
	<div class="container mt-4">
	   <div class="row">
	    <div class="col-lg-6 offset-lg-3">
	        <form class="form-inline mb-4 d-flex align-items-center">
	            <input class="form-control mr-sm-2 flex-grow-1" type="search" placeholder="Search" aria-label="Search" id="search-input">
	            <button class="btn active custom-nav" type="button" id="search-button">
	                <i class="fa fa-search"></i>
	            </button>
	        </form>
	    </div>
	</div>
	
<div th:if="${servicios.size() > 0}" class="col-auto p-5 text-center">
  <table id="servicio-table" class="table table-hover table-responsive-xl">
    <thead class="thead-light">
      <tr>
		<th scope="col">NOMBRE</th>
		<th scope="col">PRECIO</th>
        <th scope="col">ACCIONES</th>
      </tr>
    </thead>
    <tbody>
      <tbody th:each="servicio: ${servicios}">
        <td scope="row">[[${servicio.nombre}]]</td>
        <td scope="row">[[${servicio.precio}]]</td>
        <td>
			<a th:href="@{/servicio/admin/insertService/} + ${servicio.id}">
         	   <button type="button" class="btn btn-warning">Mod <i class="fa fa-pencil"></i> </button></a>
         	   
			<a th:href="@{/servicio/admin/delete/} + ${servicio.id}"
			th:onclick="return confirm('Estas seguro que deseas eliminar el registro?');">
         	   <button type="button" class="btn btn-danger">Borrar <i class="fa fa-trash"></i> </button></a>
         	   
         	
        </td>
      </tr>
    </tbody>
  </table>
  <a th:href="@{/servicio/admin/insertService}">
         	   <button type="button" class="btn active custom-nav">INSERTAR SERVICIO</button></a>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
		integrity="sha384-KtLE+8Z9mVkfZ+Kq3f33Ka1SZC7z5ckM/KFA8Ew4f8BxByGZl/hb2B8pDkz4kz1"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
		integrity="sha384-tAL0s5NNKbNpau+cLlO/q1z5OoRZM2Z6q0J9qelxfD0KgZl/v8TlP8kfN1z8N2R"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
		integrity="sha384-4YZk6z2UQI2e6Ls1Y6ZvQx4C8HhrBDjxkQQ8mlr5Ck8fMI6zZfjB1q5z9v2F9KkN"
		crossorigin="anonymous"></script>
	<script>
		document.getElementById("search-input").addEventListener("input", function() {
		    var searchTerm = this.value.toLowerCase();
		    var rows = document.querySelectorAll("#servicio-table tbody tr");
		
		    rows.forEach(function(row) {
		        var cells = row.getElementsByTagName("td");
		        var showRow = false;
		
		        for (var i = 0; i < cells.length; i++) {
		            var cellValue = cells[i].textContent.toLowerCase();
		            if (cellValue.includes(searchTerm)) {
		                showRow = true;
		                break;
		            }
		        }
		
		        if (showRow) {
		            row.style.display = "";
		        } else {
		            row.style.display = "none";
		        }
		    });
		});
	</script>
</body>
</html>