
<!DOCTYPE html>
	<html xmlns:th=http://www.thymeleaf.org
		xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link th:href="@{/css/home.css}" rel="stylesheet" />
<link th:href="@{/scripts/utils/fullcalendar/main.css}" rel="stylesheet" />
<link rel="stylesheet" th:href="@{/css/calendar.css}">
<link rel="stylesheet" th:href="@{/css/schedule.css}">
<title>Inicio</title>

</head>
<body style="background-color: white;">

	<section layout:fragment="custom-content">
		<div th:replace="fragments/header :: header"></div>
	</section>

	<br><br>

  	<div class="page-container" style="margin-top: 3em; padding: 1em;">
		<h1 style="margin: 0px; text-align: center;">Clinica dermatológica</h1>
		
		<div style="display: flex; flex-direction: row;">
			<img th:src="@{/images/enfermera.png}" style="width: 300px;">
			<div style="display: flex; flex-direction: column;">
				<p style="font-size: 20px;">
					En nuestra clínica dermatológica, ofrecemos servicios personalizados para el cuidado y tratamiento de la piel,
					incluyendo diagnóstico y tratamiento de enfermedades de la piel, procedimientos cosméticos avanzados y asesoramiento
					sobre cuidado de la piel. Nuestro objetivo es brindarte una piel sana y radiante.
					<br>
					¡No olvides reservar tu cita!
				</p>
				<a sec:authorize="hasAuthority('ROLE_USER')" href="/cita/usuario/obtener/cita" class="btn btn-primary cita-btn">Coger cita</a>
			</div>
		</div>
	</div>
  
   <div class="alert alert-success" th:if="${success != null}"
		th:text="${success}"></div>
	<div class="alert alert-danger" th:if="${error != null}"
		th:text="${error}"></div>
	<div class="alert alert-warning" th:if="${warning != null}"
		th:text="${warning}"></div>
	<div class="alert alert-info" th:if="${info != null}"
		th:text="${info}"></div>
	
</body>
</html>