<!DOCTYPE html>
	<html xmlns:th=http://www.thymeleaf.org
		xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<style>
	label{
		margin-right: 5px;
		margin-top: 6px;
	}
	input{
		margin-left: 100px;
	}
</style>
<!-- Bootstrap CSS -->
<link th:href="@{/css/styles.css}" rel="stylesheet" />
<link th:href="@{/css/header.css}" rel="stylesheet" />
<link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link rel="stylesheet" href="css/font-awesome.min.css">
<link th:href="@{/css/home.css}" rel="stylesheet" />
<link rel="icon" type="image/x-icon" href="/images/logoapp.ico">
<link th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}" rel="stylesheet">
    <!--<link th:href="@{/webjars/font-awesome/6.4.2/css/font-awesome.css}" rel="stylesheet">-->
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<title>Isert User</title>
</head>
<body>
	<section layout:fragment="custom-content">
		<div th:replace="~{fragments/header :: header}"></div>
	</section>
	<br>
		<br>
			<br>
	<form th:action="@{/cliente/insert/cliente}" th:object="${cliente}" method="post" enctype="multipart/form-data" style="text-align:center;width: 500px;margin: auto;">
		<div style="text-align: center; display: block;padding-top: 40px;">
	<div class="card" style="background-color: rgb(237, 218, 252);border-radius: 40px;">
		<h1 class="display-4">Nuevo cliente</h1>
		<br>
		<div class="form-group">
			<label for="Nombre" >Nombre: </label> 
		<input type="text" class="login__input" placeholder="Nombre del cliente" autocomplete="nope" id="Nombre" name="Nombre" required>
		</div>
		

		<div class="form-group">
			<label for="email" style="margin-right: 19px;">Email: </label> 
		<input type="text" class="login__input" placeholder="Email del cliente" autocomplete="nope" id="email" name="email" required>
		</div>

		<div class="form-group">
			<label for="password">Pasword: </label> 
			<input type="password" class="login__input" name="password" id="password" placeholder="Contrasena del cliente" autocomplete="nope" required>
		</div>
		
		<div class="form-group">
			<label for="Direccion">Direccion: </label> 
		<input type="text" class="login__input" placeholder="Direccion del cliente" autocomplete="nope" id="Direccion" name="Direccion">
		</div>
		
		<div class="form-group">
			<label for="Telefono">Telefono: </label> 
		<input type="text" class="login__input" placeholder="Telefono del cliente" autocomplete="nope" id="Telefono" name="Telefono">
		</div>

		<br>
			<div style="text-align: center;">
		<input type="submit" class="btn active custom-nav" style="width: 80px;">
		<a th:href="@{/cliente/admin/listUsers}">
		<button type="button" class="btn active custom-nav">Regresar</button>
		</a>
		</div>
	</form>
	<br>
   </div>
   </div>
	<br><br>
	 <div class="alert alert-success" th:if="${success != null}"
		th:text="${success}"></div>
	<div class="alert alert-danger" th:if="${error != null}"
		th:text="${error}"></div>
	<div class="alert alert-warning" th:if="${warning != null}"
		th:text="${warning}"></div>
	<div class="alert alert-info" th:if="${info != null}"
		th:text="${info}"></div>
</body>
</html>