<!DOCTYPE html>
	<html xmlns:th=http://www.thymeleaf.org
		xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->

<link th:href="@{/css/home.css}" rel="stylesheet" />
<link th:href="@{/scripts/utils/fullcalendar/main.css}" rel="stylesheet" />
<script th:src="@{/scripts/utils/fullcalendar/main.js}"></script>
<script th:src="@{/scripts/utils/fullcalendar/locales/es.js}"></script>
<link rel="stylesheet" th:href="@{/css/calendar.css}">
<link rel="stylesheet" th:href="@{/css/schedule.css}">
<link rel="icon" type="image/x-icon" href="/images/logoapp.ico">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<title>Obtener cita</title>

</head>
	<body>
		<section layout:fragment="custom-content">
			<div th:replace="fragments/header :: header"></div>
		</section>
		<br><br>

		<div class="alert alert-success" th:if="${success != null}" th:text="${success}"></div>
		<div class="alert alert-danger" th:if="${error != null}" th:text="${error}"></div>
		<div class="alert alert-warning" th:if="${warning != null}" th:text="${warning}"></div>
		<div class="alert alert-info" th:if="${info != null}" th:text="${info}"></div>

		<div class="container">
			<section class="description-section schedule-form">
						<hgroup>
							<h4 id="scheduler">CLÍNICA DERMATOLOGICA</h4> 
							<h2 id="event">COGER CITA</h2>
							<div class="icon-text-div">
								<img th:src="@{/images/clock.svg}">
								<h4 id="duration">30 min</h4>
							</div>
						</hgroup>
<!-- 						<p id=description>INFORMACIÓN / DESCRIPCIÓN</p> -->
						
						<label for="servicio">Seleccione un servicio:</label>
							<select name="servicio" id="servicio">
								<tbody th:each="servicio: ${servicios}">
								    <option value="${servicio.nombre}">[[${servicio.nombre}]]</option>
								 </tbody>
							</select>
			</section>
			<div class="divider"></div>
			<section id="calendar-section" class="body-section schedule-form">
				<h3>Elija fecha y hora</h3>
				<div id="schedule-div">
					<div id="available-times-div"><!-- Available times --></div>
					<div id="calendar"></div>
				</div>
			</section>
		</div>

		<script th:src="@{/scripts/calendar.js}"></script>
	</body>
</html>