<!DOCTYPE html>
	<html xmlns:th=http://www.thymeleaf.org
		xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link th:href="@{/css/styles.css}" rel="stylesheet" />
<link th:href="@{/css/header.css}" rel="stylesheet" />
<link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link rel="stylesheet" href="css/font-awesome.min.css">
<link th:href="@{/css/home.css}" rel="stylesheet" />
<script th:src="@{/scripts/cita.js}"></script>

<title>Ver mis citas</title>

</head>
<body>

	<section layout:fragment="custom-content">
		<div th:replace="fragments/header :: header"></div>
	</section>
	<br><br>
	  
   <div class="alert alert-success" th:if="${success != null}"
		th:text="${success}"></div>
	<div class="alert alert-danger" th:if="${error != null}"
		th:text="${error}"></div>
	<div class="alert alert-warning" th:if="${warning != null}"
		th:text="${warning}"></div>
	<div class="alert alert-info" th:if="${info != null}"
		th:text="${info}"></div>
	

	<div class="page-container">
		<h1 style="text-align: center;">Mis citas</h1>
		<hr style="width: 600px; margin: 0 auto;">
		<tbody th:each="cita: ${citas}">
			<mi-cita th:data="${cita.fechaCita}" th:citaId="${cita.id}" th:deleteCita="@{/cita/usuario/delete/} + ${cita.id}"></mi-cita>
			<hr style="width: 600px; margin: 0 auto;">
		</tbody>
	</div>
</body>
</html>